@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  /* background-color: #000000; */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 34, 34);
}
